header {
    // background-color: crimson;
    background-image: url('/style/imgs/pexels-negative-space-160107.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    color: white;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .content {
        animation: fadeInOut .8s ease-in-out;
        text-align: center;
        h1 {
            margin: auto 0;
            font-size: 3em;
        }
        h2 {
            font-size: 2em;
        }
    }
}

section#about {
    animation: toUp 1s ease-in-out;
    .content {
        display: flex;
        min-height: 450px;
        .left {
            width: 50%;
            background-image: url('/style/imgs/pexels-startup-stock-photos-7376.jpg');
            background-color: lemonchiffon;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            // filter: grayscale(100%);
        }
        .right {
            width: 50%;
            background-color: #eee;
            .container {
                h3 {
                    font-size: 1.6em;
                }
                padding: 1em 2.6em;
                p {
                    text-align: justify;
                }
                .btn {
                    display: inline-block;
                    @include btns();
                }
            }
        }
    }
}

main {
    .content {
        text-align: center;
        h2 {
            margin: 3em auto;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            transition: all .2s ease-in-out;
        }
        a.card {
            width: 250px;
            height: 325px;
            text-align: center;
            margin-bottom: 2em;
            background-color: white;
            text-decoration: none;
            color: $light-black;
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
            transition: transform .2s ease-in-out;
            border-radius: 10px;
            overflow: hidden;
            &:hover {
                transform: scale(1.1);
            }
            span {
                display: block;
                height: 80%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                height: 20%;
            }
        }
    }
}

footer {
    color: white;
    background-color: $light-black;
    .content {
        display: flex;
        align-items: center;
        .logo,
        p {
            width: 50%;
        }
        .logo {
            a {
                display: block;
                width: 200px;
                background-image: url('/style/imgs/logo-le-campus-cci28.png');
                background-position: center;
                background-size: cover;
                height: 150px;
            }
        }
    }
}